.navbar-collapse{
    margin-left: 500px;
}

.logo{
    width: 75px;
    height: 75px;
}

nav{
    background-color: transparent !important;
}

li{
color: white;
}

ul{
    font-size: 19px;
    gap: 20px;
    font-family: 'Oswald Bold';
}