<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/img/moto3.png" class="baku" alt=""/>
      <div class="footer-desc">
        <p>Dolore magna aliq quis nostrud ulamco laboris nisi ut aliquip exa comads conseq asuis aute irure dolor reprehenderit.</p>
      </div>

      <div class="card-detail d-flex align-items-center justify-content-center">
          <img src="/assets/img/operator.svg" alt="" class="card-img m-0" />
          <div class="card-dark">
            <p class="card-title">Talk with our support</p>
            <p class="card-body">+1(300) 490 5008</p>
          </div>
        </div>
        <div class="d-flex icon-item">
          <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
          <fa-icon class="icon" [icon]="faFacebookF"></fa-icon>
          <fa-icon class="icon" [icon]="faGooglePlus"></fa-icon>
          <fa-icon class="icon" [icon]="faYoutube"></fa-icon>
          <fa-icon class="icon" [icon]="faPinterestP"></fa-icon>
        </div>
    </div>

    <div class="col-md-2 mr-4">
      <mat-list role="list">
        <div mat-subheader class="div">About Mercedes</div>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Our Company</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Renting Facility</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">KeyMoto Inventory</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Our Services</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Clients Testimonials</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Mission & Vision</span>
        </mat-list-item>

        <mat-list-item class="d-flex" role="listitem"
          ><div class="icon-box">
            <fa-icon class="icon1" [icon]="faCaretRight"></fa-icon>
          </div>
          <span class="ghafar">Contact Us</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="col-md-3 mr-4">
      <div mat-subheader class="div list">Latest News</div>
      <ul>
        <li class="d-flex" role="listitem">
          <img src="/assets/img/automotive5.jpg" alt="" />
          <div class="news">
            <a href="#" class="picture"
              >We Allow Each Rider To Customize Their Rides.</a
            >
            <p class="assets">August 25, 2021</p>
          </div>
        </li>

        <li class="d-flex" role="listitem">
          <img src="/assets/img/automotive1.jpg" alt=""/>
          <div class="news">
            <a href="#" class="picture"
              >Motorcycles Which Feels Just Right Like Ease.</a
            >
            <p class="assets">August 25, 2021</p>
          </div>
        </li>

        <li class="d-flex" role="listitem">
          <img src="/assets/img/automotive2.jpg" alt="" />
          <div class="news">
            <a href="#" class="picture"
              >Gaze Upon Unbelievably Exciting To Futuristic.</a
            >
            <p class="assets">August 25, 2021</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-3 mr-4">
      <div mat-subheader class="div1">Dealer Information</div>

      <p class="wave">SALES HOURS</p>
      <p class="monday">Monday - Friday:</p>
      <p class="monday">09:00 am to 06:00 pm</p>

      <p class="wave1">SERVICE HOURS</p>
      <p class="monday1">Monday - Friday:</p>
      <p class="monday1">09:00 am to 06:00 pm</p>

      <p class="wave2">PARTS SHOP HOURS</p>
      <p class="monday2">Monday - Friday:</p>
      <p class="monday2">09:00 am to 06:00 pm</p>
    </div>
  </div>
</div>
