.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    margin-top: 55px;
}
img{
    width: 90%;
    height: 800px;
    margin-bottom: 25px;
}



.mat-link3{
margin-bottom: 30px;
}

.list1{
    margin-bottom: 100px;
}

.background3 {
    width: 100%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/12351614/pexels-photo-12351614.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-title {
    font-size: 55px;
    font-weight: 25px;
    font-family: "Oswald Bold";
  }

  .background-style {
    width: 500px;
    font-size: 18px;
    color: white;
    margin-left: 400px;
    margin-top: 15px;
    font-family: "Oswald Bold";
  }

  .background-span {
    color: #e63619;
  }

  .background{
    background-color: #fff;
  }

  .list{
    margin-top: 300px !important;
  }

  



  