<div class="d-flex flex-column background3">
  <h1 class="background-title" style="color: white">FAQS</h1>
  <h1 class="background-style">
    HOME > <span class="background-span">FAQS</span>
  </h1>
</div>

<div class="background">
<div class="container">
  <div class="row">
    <div class="col-md-6 image">
      <img src="/assets/img/opencar.jpg" alt="" />
    </div>

    
    <div class="col-md-6">
      <div class="list1">
      <h1>FAQ</h1>
      <p>The most frequently asked questions about the car</p>
      </div>
      <mat-accordion class="list">
        <mat-expansion-panel class="mat-link3">
          <mat-expansion-panel-header>
            <mat-panel-title> Are the machines imported? </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes. Cars are delivered to Azerbaijan in 3-4 months from abroad.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-link3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How many years are the machines guaranteed?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Machines are guaranteed for 3 years. If there is any problem with
            the car, you can come to our office and report your complaint.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-link3">
          <mat-expansion-panel-header>
            <mat-panel-title>What is the minimum price of your cars?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>The minimum price of the machines starts from 12,000 dollars.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-link3">
          <mat-expansion-panel-header>
            <mat-panel-title>Can I check your cars at any service?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>You can check the machine you will buy at any service</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
</div>

