<div class="d-flex flex-column background3">
  <h1 class="background-title" style="color: white">ABOUTUS</h1>
  <h1 class="background-style">
    HOME > <span class="background-span">ABOUTUS</span>
  </h1>
</div>
<div class="container p-0">
  <div class="img-block d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <h3 class="about-div">Z O N E</h3>
      <h3 class="about-div1">2 K 1 6</h3>
    </div>
    <img
      src="/assets/img/mercedes-small.png"
      alt="welcome2"
      class="about-img"
    />
  </div>
  <div class="row about-boxes">
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faStar"></fa-icon>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faStar"></fa-icon>
          <h6>Estimated Fuel</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>23.1</h1>
            <small>Kmph Mileage</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faWifi"></fa-icon>
          <h6>Wifi Available</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>4G</h1>
            <small>on Star</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-without-border">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faBoxOpen"></fa-icon>
          <h6>Cargo Volume</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>16.3</h1>
            <small>Cubic Feet</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="box-icon">
        <h1 class="box-carousel text-left">Welcome to CarMaxel</h1>
        <hr class="box-hr" />
        <p class="box-p">
          It is a beautiful day in this neighborhood a beautiful day for a
          neighbor would you be mine could you be mine its a neighborly day in
          this beautywood it is a beautiful day in this neighborhood a beautiful
          day for a neighbor would you be mine could you be mine its a
          neighborly day in this beautywood is neighborhood beautiful day for a
          neighbor would you be mine.<br /><br />
          It is a beautiful day in this neighborhood a beautiful day for a
          neighbor would you be mine could you be mine its a neighborly day in
          this beautywood it is a beautiful day in this neighborhood a beautiful
          day.
        </p>
      </div>
      <div>
        <a href="#" class="box-title">Read More</a>
      </div>
    </div>
    <div class="col-md-5 box-icon1">
      <form
        class="w-100 p-4"
        #myForm="ngForm"
        (submit)="openDialog(myForm.value)"
      >
        <h1 class="card-detail">Information</h1>

        <input
          type="text"
          name="username"
          ngModel
          required
          placeholder="Username"
          pattern="[a-zA-Z0-9]{5,}"
        />
        <br />

        <label for="email"></label>
        <input
          type="text"
          name="email"
          ngModel
          required
          placeholder="Email"
          pattern="[a-zA-Z0-9]{5,}"
        />
        <br />

        <label for="brand"></label>
        <input
          type="text"
          name="brand"
          ngModel
          required
          placeholder="Brand"
          pattern="[a-zA-Z0-9]{5,}"
        />

        <br />

        <label for="model1"></label>
        <input
          type="text"
          name="model1"
          ngModel
          required
          placeholder="Model"
          pattern="[a-zA-Z0-9]{5,}"
        />
        <br />

        <input type="submit" class="box-input"/>
      </form>
    </div>
  </div>
</div>
<div class="background-carousel text-center">
  <div class="overlay">
<p-carousel
  [autoplayInterval]="3000"
  [circular]="true"
  [value]="images"
  [numVisible]="4"
  [numScroll]="1"
  [showIndicators]="false"
  [showNavigators]="false"
>
   
  <ng-template let-image pTemplate="item">
        <img [src]="image.source" [alt]="image.alt" class="image-card" />  
  </ng-template>
</p-carousel>
</div>
</div>

<div class="class-title">
  <p class="class-light">Meet Our Team</p>
 <img src="https://demoxml.com/html/carmax/images/section-header-sep.png" class="class-img1" alt="">
  <p class="class-light1">It is a beautiful day in this neighborhood a beautiful day for a neighbor
  would you be mine<br>could you be mine its a neighborly day in this beautywood.</p>
</div>

<div class="container class-card1">
  <div></div>
    <div class="row collage1">
      <div class="col-md-4">
        <img class="image" src="https://demoxml.com/html/carmax/images/team1.jpg" />
      </div>
      <div class="col-md-4">
        <img class="image" src="https://demoxml.com/html/carmax/images/team2.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="image" src="https://demoxml.com/html/carmax/images/team3.jpg" />
      </div>
    </div>


