<div class="d-flex flex-column background3">
  <h1 class="background-title" style="color: white">ABOUTUS</h1>
  <h1 class="background-style">
    HOME > <span class="background-span">ABOUTUS</span>
  </h1>
</div>
<div class="container p-0">
  <div class="img-block d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <h3 class="about-div">Z O N E</h3>
      <h3 class="about-div1">2 K 1 6</h3>
    </div>
    <img
      src="/assets/img/mercedes-small.png"
      alt="welcome2"
      class="about-img"
    />
  </div>
  <div class="row about-boxes">
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faStar"></fa-icon>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faStar"></fa-icon>
          <h6>Estimated Fuel</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>23.1</h1>
            <small>Kmph Mileage</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faWifi"></fa-icon>
          <h6>Wifi Available</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>4G</h1>
            <small>on Star</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-without-border">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <fa-icon class="icon-header" [icon]="faBoxOpen"></fa-icon>
          <h6>Cargo Volume</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>16.3</h1>
            <small>Cubic Feet</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md-6">
      <div class="box-icon">
        <h1 class="box-carousel text-left">Welcome to CarMaxel</h1>
        <hr class="box-hr" />
        <p class="box-p">
          It is a beautiful day in this neighborhood a beautiful day for a
          neighbor would you be mine could you be mine its a neighborly day in
          this beautywood it is a beautiful day in this neighborhood a beautiful
          day for a neighbor would you be mine could you be mine its a
          neighborly day in this beautywood is neighborhood beautiful day for a
          neighbor would you be mine.<br /><br />
          It is a beautiful day in this neighborhood a beautiful day for a
          neighbor would you be mine could you be mine its a neighborly day in
          this beautywood it is a beautiful day in this neighborhood a beautiful
          day.
        </p>
      </div>
      <div>
        <a href="#" class="box-title">Read More</a>
      </div>
    </div>
    <div class="col-md-5">
      <div class="box-icon1">
        <form>
          <h1>Contact Form</h1>
          <label for="username">Username: </label>
          <input
            type="text"
            name="username"
            required
            pattern="[a-zA-Z0-9]{5,}"
          />
          <br />

          <label for="email"> Email: </label>
          <input type="email" name="email" required />
          <br />

          <label for="password"> Password: </label>
          <input
            type="password"
            name="password"
            required
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
          />
          <br />

          <label for="age"> Age: </label>
          <input type="number" name="age" min="18" max="99" />
          <br />

          <label for="color"> Favorite Color: </label>
          <input type="color" name="color" />
          <br />

          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>
