<div class="d-flex flex-column background3">
  <h1 class="background-title" style="color: white">ABOUTUS</h1>
  <h1 class="background-style">
    HOME > <span class="background-span">ABOUTUS</span>
  </h1>
</div>
<div class="container p-0">
  <div class="img-block d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <h3 class="about-div">zone</h3>
      <h3 class="about-div">2k16</h3>
    </div>
    <img
      src="/assets/img/mercedes-small.png"
      alt="welcome2"
      class="about-img"
    />
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <p>*</p>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <p>*</p>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>        <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <p>*</p>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header d-flex">
          <!-- -----fa-icon olacaq -->
          <p>*</p>
          <h6>Rating</h6>
        </div>
        <div class="box-content d-flex">
          <div class="box-rate">
            <h1>8.1</h1>
            <small>out of 10</small>
          </div>
          <a class="box-link" href="">view more</a>
        </div>
      </div>
    </div>  </div>
</div>
