<div class="container">
  <div class="row">
    <div class="col-md-6 image">
      <img src="/assets/img/mercedes9.png" alt="" />
    </div>

    <div class="col-md-5 list">
      <p class="title">TAKING RIDES TO A NEWER LEVEL</p>
      <h1 class="title-extra">A STEP ABOVE WITH<br/>RIDER-FRIENDLY NATURE</h1>
      <p>
        Dolore magna aliqua quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cilum dol sed ipsum nulla pariatur nostrul done elit magna.
      </p>
    </div>

  </div>
</div>
