<div class="d-flex flex-column background3">
    <h1 class="background-title" style="color: white">CONTACT</h1>
    <h1 class="background-style">
      HOME > <span class="background-span">CONTACT</span>
    </h1>
  </div>


 
    <div class="contact-box">
      <div class="left"></div>
      <div class="right">
        <h2 class="class-contact">Contact</h2>
        <input type="text" class="field" placeholder="Your Name">
        <input type="text" class="field" placeholder="Your Email">
        <input type="text" class="field" placeholder="Phone">
        <textarea placeholder="Message" class="field"></textarea>
        <div>
          <button class="box-title">Read More</button>
        </div>
      </div>
    </div>
 
  
    <div class="d-flex justify-content-center mb-5">
    <google-map width="1100px"
     [center]="center" [zoom]="zoom">
      <map-marker
      [position]="marker.position"></map-marker>
    </google-map>
  </div>





