<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/img/mercedes2.jpg" alt="" />
    </div>
    <div class="col-md-3">
      <img src="/assets/img/mercedes3.jpg" alt="" />
    </div>
    <div class="col-md-3">
      <img src="/assets/img/mercedes5.jpg" alt="" />
    </div>
    <div class="col-md-3">
      <img src="/assets/img/mercedes8.jpg" alt="" />
    </div>
  </div>

  <div class="row filter">
    <div class="col-md-3">
      <img class="image" src="/assets/img/mercedes10.jpg" />
    </div>

    <div class="col-md-3">
      <img class="image" src="/assets/img/mercedes11.jpg" />
    </div>

    <div class="col-md-3">
      <img class="image" src="/assets/img/mercedes13.jpg" />
    </div>

    <div class="col-md-3">
      <img class="image" src="/assets/img/mercedes14.jpg" />
    </div>
  </div>
</div>
<p>Qafar</p>
