<div class="d-flex flex-column background3">
  <h1 class="background-title" style="color: white">SERVICES</h1>
  <h1 class="background-style">
    HOME > <span class="background-span">SERVICES</span>
  </h1>
</div>

<div class="background-header">
  <h1>Why Choose us</h1>
  <p class="content-text">
    It is a beautiful day in this neighborhood a beautiful day for a neighbor
    would you be mine<br><span class="content-box">could you be mine its a neighborly day in this beautywood.</span></p>
</div>

<div class="row">
<div class="col-md-6">
<div class="footer d-flex">
  <div class="icon-box">
<fa-icon class="icon1" [icon]="faMoneyBill"></fa-icon>
</div>
  <div class="news">
    <a href="#" class="picture">FINANCING MADE EASY</a>
    <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
  </div>
</div>
</div>

<div class="col-md-6">
  <div class="footer1 d-flex">
    <div class="icon-box">
  <fa-icon class="icon1" [icon]="faLayerGroup"></fa-icon>
    </div>
    <div class="news">
      <a href="#" class="picture">WIDE RANGE OF BRANDS</a>
      <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
    </div>
  </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
  <div class="footer d-flex">
    <div class="icon-box">
  <fa-icon class="icon1" [icon]="faUsers"></fa-icon>
</div>
    <div class="news">
      <a href="#" class="picture">FINANCING MADE EASY</a>
      <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
    </div>
  </div>
  </div>
  
  <div class="col-md-6">
    <div class="footer1 d-flex">
      <div class="icon-box">
    <fa-icon class="icon1" [icon]="faGear"></fa-icon>
  </div>
      <div class="news">
        <a href="#" class="picture">FINANCING MADE EASY</a>
        <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
      </div>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
    <div class="footer d-flex">
    <div class="icon-box">
    <fa-icon class="icon1" [icon]="faWrench"></fa-icon>
  </div>
      <div class="news">
        <a href="#" class="picture">FINANCING MADE EASY</a>
        <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
      </div>
    </div>
    </div>
    
    <div class="col-md-6">
      <div class="footer1 d-flex">
      <div class="icon-box">
      <fa-icon  [icon]="faHeadset"></fa-icon>
    </div>
        <div class="news">
          <a href="#" class="picture">FINANCING MADE EASY</a>
          <p class="assets">It is a beautiful day in this neighborhood a beautiful day for a<br>neighbor would you be mine.</p>
        </div>
      </div>
      </div>
    </div>

<div>
  <img src="/assets/img/car-mercedes.jpg" class="image-jpg" alt=""/>
</div>

<div class="class-band">
  <p class="class-accardion">Latest Inventory</p>
 <img src="https://demoxml.com/html/carmax/images/section-header-sep.png" class="header-img" alt="">
  <p class="class-accardion1">It is a beautiful day in this neighborhood a beautiful day for a neighbor
  would you be mine<br>could you be mine its a neighborly day in this beautywood.</p>
</div>

<div class="container">

  <div class="row collage">
    <div class="col-md-4">
      <img class="image" src="/assets/img/mercedes-1.png" />
    </div>
    <div class="col-md-4">
      <img class="image" src="/assets/img/mercedes-3.png" />
    </div>
    <div class="col-md-4">
      <img class="image" src="/assets/img/mercedes-10.png" />
    </div>
  </div>


  <div class="row filter">
    <div class="col-md-4">
      <p class="class-book">AUCRA AL-SERIES</p>
      <div class="class-span">
      <span class="class-house">2016</span>
      <span class="class-house">240HP</span>
      <span class="class-house">AUTOMATIC</span>
      <h4 class="content">START FROM<span class="content-span">$19.999</span></h4>
      <a href="#" class="box-title">BOOK NOW</a>
    </div>
    </div>
  
    <div class="col-md-4">
      <p class="class-book">AUCRA AL-SERIES</p>
      <div class="class-span">
      <span class="class-house">2016</span>
      <span class="class-house">300HP</span>
      <span class="class-house">AUTOMATIC</span>
      <h4 class="content">START FROM<span class="content-span">$29.999</span></h4>
      <a href="#" class="box-title">BOOK NOW</a>
    </div>
    </div>
  
    <div class="col-md-4">
      <p class="class-book">AUCRA AL-SERIES</p>
      <div class="class-span">
      <span class="class-house">2016</span>
      <span class="class-house">300HP</span>
      <span class="class-house">AUTOMATIC</span>
      <h4 class="content">START FROM<span class="content-span">$35.999</span></h4>
      <a href="#" class="box-title">BOOK NOW</a>
    </div>
    </div>
  </div>
  </div>