.background3 {
    width: 100%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/12351614/pexels-photo-12351614.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-title {
    font-size: 55px;
    font-weight: 25px;
    font-family: "Oswald Bold";
  }

  .background-style {
    width: 500px;
    font-size: 18px;
    color: white;
    margin-left: 370px;
    margin-top: 25px;
    font-family: "Oswald Bold";
  }

  .background-span {
    color: #e63619;
  }

  .background-header{
    letter-spacing: 0.56px;
    padding-top: 40px;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 0;
  }

  h1{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #222222;
  }
   

   .content-text{
    color: #777777;
    padding-top: 25px;
   }

   .content-box{
    padding-left: 15px;
   }

   .tag-online{
    width: 105px;
    height: 105px;
}

.news{
  padding-left: 30px;
}

.picture{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'RobotoSlab';
  font-size: 16px;
  margin-bottom: 20px;
}


.assets{
  color: #777;
  padding-top: 10px;
}



.footer{
  margin-left: 180px;
  margin-top: 30px;
}

.footer1{
  margin-top: 30px;
  margin-left: 20px;
}
.icon-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #3EABC6;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

fa-icon {
  display: inline-block;
  line-height: 76px;
  color: #f85c37;
  font-size: 26px;
  transition: all 0.5s ease; /* Apply the same transition here */
}

.icon-box:hover {
  background: #3EABC6;
}

.icon-box:hover fa-icon {
  color: #fff;
  transform: rotate(360deg);
}
.background-image{
  background-image: url("https://images.pexels.com/photos/188022/pexels-photo-188022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.image-jpg{
  width: 100%;
  height: auto;
  margin-top: 75px;
}

.container-fluid{
  margin-left: 170px;
  gap: 25px;
  margin-top: 80px;
}

.filter{
  margin-left: 45px;
  margin-bottom: 200px;
}

img{
  width: 100%;
}

.filter img {
  filter: grayscale(1.2);
}

.class-band{
  text-align: center;
}

.class-accardion{
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  margin-top: 90px;
  }
  
  .class-accardion1{
  margin-top: 35px;
  }

  .class-book{
   text-align: center;
   font-family: 'Roboto Slab', serif;
   color: #222;
   font-weight: bold;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 0.72px;
   line-height: 28px;
  }

  .class-house{
  color: #222;
  font-size: 13px;
  padding: 6px 14px;
  border: 1px solid #a0a0a0;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 3px 10px;
  }

  .class-span{
    margin-left: 75px;
    margin-top: 25px;
  }

  .content{
    color: #222;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 0.52px;
    margin-left: 35px;
  }

  .content-span{
    color: #f85c37;
    font-size: 17px;
    padding-left: 5px;
  }

  .box-title {
    background-color: #fff;
    display: inline-block;
    border: 2px solid #3EABC6;
    border-radius: 3px;
    color: #3EABC6;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-top: 16px;
    margin-left: 30px;
    padding: 11px 32px;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0 !important;
    transition: all 0.5s ease 0s;
  }

  .box-title:hover {
    background: #3EABC6;
    border: 2px solid #3EABC6;
    color: #fff;
  }

  .collage{
    margin-left: 50px;
    margin-top: 45px;
  }

  .header-img{
    width: 170px;
    height: 16px;
  }

  .header-img1{
    width: 170px;
    height: 16px;
    margin-top: 10px;
  }

  .class-card{
    margin-bottom: 150px;
  }

  .background-carousel{
    background-image: url(https://demoxml.com/html/carmax/images/partner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay{
    background-color: rgba(0,0,0,0.70);
    
  }

  .speed-image{
    width: 123px;
    height: 69px;
  }

  .speed-text{
    color: #fff;
    margin: 0;
  }

.speed-title{
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
}