/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
    font-family: 'Kanit';
    src: url('/assets/fonts/Kanit-Regular.ttf');
  }
  @font-face {
    font-family: 'Kanit Bold';
    src: url('/assets/fonts/Kanit-Bold.ttf');
  }

  @font-face {
    font-family: 'Kanit Extra';
    src: url('/assets/fonts/Kanit-ExtraBold.ttf');
  }

  @font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald-Regular.ttf');
  }

  @font-face {
    font-family: 'Oswald Bold';
    src: url('/assets/fonts/Oswald-Bold.ttf');
  }

  @font-face {
    font-family: 'Titilium';
    src: url('/assets/fonts/TitilliumWeb-Regular.ttf');
  }

  @font-face {
    font-family: 'Titilium Bold';
    src: url('/assets/fonts/TitilliumWeb-Bold.ttf');
  }

  @font-face {
    font-family: 'RobotoCondensed';
    src: url('/assets/fonts/RobotoCondensed-Regular.ttf');
  } 
  
  @font-face {
    font-family: 'RobotoCondensed Bold';
    src: url('/assets/fonts/RobotoCondensed-Bold.ttf');
  }

  @font-face {
    font-family: 'RobotoSerif_28pt_Condensed';
    src: url('/assets/fonts/RobotoSerif_28pt_Condensed-Regular.ttf');
  } 
  
  @font-face {
    font-family: 'RobotoSerif_28pt_Condensed Bold';
    src: url('/assets/fonts/RobotoSerif_28pt_Condensed-Bold.ttf');
  } 
  

  @font-face {
    font-family: 'RobotoSlab';
    src: url('/assets/fonts/RobotoSlab-Regular.ttf');
  } 
  
  @font-face {
    font-family: 'RobotoSlab Bold';
    src: url('/assets/fonts/RobotoSlab-Bold.ttf');
  }






