<ngb-carousel #carousel [interval]="500">
    <ng-template ngbSlide>
      <div class="background">
        <h1 class="background-header" style="color: white">Mercedes</h1>
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div class="background2">
        <h1 class="background-header" style="color: white">Range Rover</h1>
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div class="background3">
        <h1 class="background-header" style="color: white">Audi</h1>
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-danger">Cancel</button>
      </div>
    </ng-template>
  </ngb-carousel>